<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:if="${cart.cartItemList.size()==0}">No Added Product Yet!</h2>  <!-- todo check cart item list size, if it is 0, it always print No Added Product Yet-->
            <h3> Cart Total Amount</h3>
            <td th:text="${cart.cartTotalAmount}"></td>  <!-- todo put cart total amount cart.getCartTotalAmount()-->

            <div th:unless="${cart.cartItemList.size()==0}"> <!-- todo check cart item list size, if it is NOT 0, it will show added products-->
                <h2 class="my-5"></h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Delete From Cart</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="eachItem :${cart.cartItemList}">
                        <td th:text="${eachItem.product.name}"></td> <!-- todo product variables-->
                        <td th:text="${eachItem.quantity}"></td><!-- todo product variables-->
                        <td th:text="${eachItem.totalAmount}"></td><!-- todo product variables-->
                        <td><a th:href="@{/delete/{productId}(productId=${eachItem.product.id})}">Delete From Cart</a></td> <!-- todo implement delete get request-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a th:href="@{/list}" class="btn btn-primary">See Product List<i></i></a></p> <!-- todo see product list page-->

        </div>
    </div>
</div>
</body>
</html>